PORT=3000
JWT_SECRET=your_super_secret_key_change_this
AWS_REGION=us-east-1

# Email configuration (AWS SES)
SES_FROM_EMAIL=your-verified-email@example.com
ADMIN_EMAIL=your-admin-email@example.com

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_O00dof1R8jO7k2
RAZORPAY_KEY_SECRET=U8qMg7uYxM2sXzH3K5
